POSTGRES_DB=persondb
POSTGRES_USER=personapp
POSTGRES_PASSWORD=personapp
POSTGRES_PORT=5432
SPRING_PORT=8080
ANGULAR_PORT=4200
KEYCLOAK_PORT=8081
KEYCLOAK_ADMIN=a
KEYCLOAK_ADMIN_PASSWORD=a
# Keycloak stores its data in the PostgreSQL database above, in schema `keycloak`.
FAKE_SMTP_PORT=8025
FAKE_SMTP_WEB_PORT=8082
FAKE_SMTP_MANAGEMENT_PORT=8083

# Use these variables when running the application outside Docker.
DB_URL=jdbc:postgresql://localhost:5432/persondb
DB_USERNAME=personapp
DB_PASSWORD=personapp
